__pycache__/

# Ignore Python bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
env/
venv/

# Ignore log files and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/
